gtk-3.0
pavucontrol.ini
qBittorrent
user-dirs.dirs
user-dirs.locale
discord
libfm
pcmanfm
pulse/*
Android Open Source Project
Code - OSS
Electron
Google
JetBrains
Thunar
Unknown Organization
cef_user_data
chromium
configstore
dconf
dunst
evolution
flutter
fontforge
glib-2.0
gnome-session
goa-1.0
google-chrome
gtk-3.0
htop
ibus
jack
kraxarn
leafpad
libreoffice
mimeapps.list
nautilus
ncspot
neofetch
onlyoffice
pgadmin4
spotify
spotify-player
spotify-tui
unity3d
user-dirs.*
zoom.conf
zoomus.conf
